.about-top {
  background-image: url('/images/background-image.png');
  padding: 100px;
}

.about-top h2 {
  font-size: x-large;
  font-weight: 400;
  color: #ffff;
  min-width: 400px;
}
h5 {
  font-size: larger;
  font-weight: 300;
  padding: 0px 50px;
}
h3 {
  color: #54577c;
}
.about-top p {
  padding: 30px;
}

.our-ethos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.125rem;
  margin-top: 20px;
}

img {
  max-width: 150px;
}

p {
  font-size: small;
  padding: 0px 50px;
  font-weight: 100;
}
